<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="boost" version="1.69.0.0" targetFramework="native" />
  <package id="cpprestsdk.v140.winapp.msvcstl.dyn.rt-dyn" version="2.9.1" targetFramework="native" />
  <package id="rxcpp" version="4.0.0" targetFramework="native" />
</packages>